SEO Agent Workflow.json
{
  "name": "SEO Agent Workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        -20
      ],
      "id": "4452569b-b5fa-4378-98b0-dc913bebe614",
      "name": "When chat message received",
      "webhookId": "596226d3-e68d-4185-9eb7-0d61063c903d"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate 50 SEO keywords related to {{ $json.chatInput}} along with their trend score. Only provide the list of keywords with their scores. No sentences at the start and at the end.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a real-time SEO expert. Whenever you receive a keyword you suggest 50 keywords related to it and uses Google Search (SERP API) to give out scores for each of them based on SEO."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -100,
        -20
      ],
      "id": "e5755980-f0b8-40cf-9206-ecff5c093c3e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -220,
        180
      ],
      "id": "9f33dcc2-ce30-4847-8d91-2dd2e6ea5d72",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "g7X3PxxCpTySpvXL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -80,
        240
      ],
      "id": "e21deb32-0c4a-4da4-b08e-da29aa720dbe",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        60,
        240
      ],
      "id": "f80c1d8a-5f95-43bb-936f-d0f0c7381cf2",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "aZA3xRqReOXReV8a",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items[0].json.output.map(entry => ({\n  json: {\n    Index: entry.Index,\n    Keyword: entry.Keyword,\n    Rank: entry.Rank\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        -20
      ],
      "id": "fdf14aa5-038a-4906-afbd-00e0fb8e60f7",
      "name": "Code"
    },
    {
      "parameters": {
        "binaryPropertyName": "={{ $json.Index }} {{ $json.Keyword }} {{ $json.Rank }}",
        "options": {
          "fileName": "seo_keywords.csv",
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        480,
        -20
      ],
      "id": "bc1162b9-724c-448b-8035-f6932ccd4134",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"Index\": {\n        \"type\": \"integer\"\n      },\n      \"Keyword\": {\n        \"type\": \"string\"\n      },\n      \"Rank\": {\n        \"type\": \"integer\"\n      }\n    },\n    \"required\": [\"Index\", \"Keyword\", \"Rank\"]\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        220,
        220
      ],
      "id": "7a4b6530-5545-4f42-857c-5d184355486b",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f71e59b1-208a-4173-9afd-5a008c9ca9e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "068b2c636a800bfeb97c96eca4a71afd33b526e0931244a8e121df9a1e04c679"
  },
  "id": "1MufkVZKu5BSICSK",
  "tags": []
}